<template>
    <div :class="['house-mb-container', (showTable ? 'bg-image' : '')]" :id="id" v-if="visible">
      <div style="width: 96%; padding: 7px 10px 10px 20px" class="my-table" v-if="showTable">
        <fks-table :data="cityTableData" max-height="220px" :row-class-name="tableRowClassName">
          <fks-table-column prop="index" label="序号" width="50"></fks-table-column>
          <fks-table-column prop="projectName" label="项目名称" width="320"></fks-table-column>
          <fks-table-column prop="total" label="总投资(亿)" width="200"></fks-table-column>
          <fks-table-column prop="area" label="区域" width="150"></fks-table-column>
          <fks-table-column prop="batch" label="批次" width="200"></fks-table-column>
          <fks-table-column prop="plan" label="计划" width="260">
  
            <template scope="scope">
              <span class="finish-status"> {{
                  scope.row.plan
              }}</span>
            </template>
          </fks-table-column>
        </fks-table>
      </div>
    </div>
  </template>
  
  <script>
  
  import houseDialog from './components/HouseDiaglog.vue'
  export default {
    name: 'DataHouseMb', // 组件name不要加version作后缀来保证唯一，考虑后续组件在线升级功能设计，有个name就够了
    inject: [
      'renderer' // 注入Renderer/index.vue实例
    ],
    components: {
      houseDialog
    },
    props: {
      id: String, // 平台运行时，每个组件实例都会被自动分配一个组件id，id每次都不相同
      base: Object,
      configuration: Object,
      data: Array,
      childrenConfig: Array,
      childrenData: Array,
      callbackValues: Object, // 回调池里的值
      callbackArgs: Array, // 回调参数
      edit: Boolean,
      actions: Array,
      events: Array,
      width: Number,
      height: Number,
      top: Number,
      left: Number,
      onRelative: Function, // (id: String, data: Any): void
      emit: Function, // (eventName: String, data: Any, componentId?: Number): void
      updateConfig: Function, // ({id？, type, payload})
      theme: Object, // 主题对象
      RR: Function // TODO： 凤翎发请求用的request工具，临时提供，待api数据源设计实现完后移除
    },
    data() {
      return {
        visible: !this.configuration.hideDefault,
        cityTableData: [{
          index: '01',
          projectName: '二七广场及周边地区更新项目',
          total: '200',
          area: '二七区',
          batch: '第一批',
          plan: '已列入',
        }, {
          index: '02',
          projectName: '金水河一河两岸城市更新项目',
          total: '120',
          area: '金水区',
          batch: '第一批',
          plan: '已列入',
        }, {
          index: '03',
          projectName: '二砂文化创意园城市更新项目',
          total: '50',
          area: '中原区',
          batch: '第一批',
          plan: '已列入',
        }, {
          index: '04',
          projectName: '西连河片区城市更新项目',
          total: '100',
          area: '二七区',
          batch: '第二批',
          plan: '已列入',
        }],
        showTable: true,
        houseHistoryData: [{
          title: '规划建设',
          detail: ['1997年建设完成', 'xxx建设单位', '张三']
        }, {
          title: '巡查',
          detail: ['2012年6月20日 达标', '2012年6月20日 不达标']
        },{
          title: '鉴定',
          detail: ['2012年6月20日 xx机构鉴定', '2012年6月20日 结果为危房',]
        },{
          title: '搬迁',
          detail: ['2012年6月20日', '搬迁至中原区兴国路']
        },{
          title: '改造',
          detail: ['2012年6月20日 开始改造', '2012年6月20日 初步改造完成', '2012年6月20日 交付']
        }, {
          title: '闭环',
          detail: []
        }]
      }
    },
    methods: {
      tableRowClassName({ row, rowIndex }) {
        if (rowIndex == 1) {
          return 'unfinish-row'
        }
        return '';
      },
      showComponent() {
        this.visible = true
        console.log("democpnt 示例组件显示")
      },
      hideComponent() {
        this.visible = false
        console.log("democpnt 示例组件隐藏")
      },
  
    }
  }
  </script>
  <style lang="scss">
  .fks-table .unfinish-row {
    background: oldlace;
  }
  
  .my-table {
    th {
      border: none;
    }
    .fks-table th {
      background: transparent !important;
      color: #14BACE !important;
    }
    .fks-table td, .fks-table th {
      height: 32px;
    }
    .fks-table::before {
      background: transparent;
    }
    td,
    th.is-leaf {
      border: none;
    }
  
    // 表格最外边框
    .fks-table--border,
    .fks-table--group {
      border: none;
    }
  
    // 头部边框
    .customer-table thead tr th.is-leaf {
      border: 1px solid #EBEEF5;
      border-right: none;
    }
  
    .customer-table thead tr th:nth-last-of-type(2) {
      border-right: 1px solid #EBEEF5;
    }
  
    // 表格最外层边框-底部边框
    .fks-table--border::after,
    .fks-table--group::after {
      width: 0;
    }
  
    .customer-table::before {
      width: 0;
    }
  
    .customer-table .fks-table__fixed-right::before,
    .fks-table__fixed::before {
      width: 0;
    }
  
    // 表格有滚动时表格头边框
    .fks-table--border th.gutter:last-of-type {
      border: 1px solid #EBEEF5;
      border-left: none;
    }
  }
  </style>
  <style lang="scss" scoped>
  .bg-image {
    background-image: url('./assets/table-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .house-mb-container {
    width: 1130px;
    height: 230px;
  
    .finish-status {
      color: #01C85E !important;
    }
  
    .unfinish-status {
      color: #F35A5A !important;
    }
  
    .house-life {
      height: 44px;
      width: 100%;
      background-image: url('./assets/table-header.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      line-height: 44px;
      color: #FFFFFF;
      font-size: 16px;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .house-time {
      height: 200px;
      width: 100;
      .time-icon {
        height: 1px;
        width: 1055px;
        color: #17E9FE;
        z-index: 50;
      }
      .house-history {
        width: 100%;
        color: #FFFFFF;
        display: flex;
        justify-content: space-around;
        .house-history-title {
          margin-top: 48px;
          margin-left: 15px;
          width: 16%;
          height: 150px;
        }
      }
      .house-history-line {
        position: absolute;
        top: 90px;
        width: 95%;
        height: 1px;
        background: #17E9FE;
        display: inline-block;
        margin-left: 20px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        .line-icon {
          width: 8px;
          height: 8px;
          background: #15C0D4;
          margin-left: -94px;
          margin-top: -4px;
          transform: rotate(45deg);
        }
      }
    }
  }
  </style>
  