
<template>
    <div>
        <span>{{ msg }}</span>
    </div>
</template>
<script>
import { Viewer, OBJLoaderPlugin } from '@xeokit/xeokit-sdk'
export default {
    data() {
        return {
            msg: "hello vue",
        };
    },
};
</script>