* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1E88C7, #78C3F3);
}
.loading {
    /*盒子模型*/

    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid red;
    position: relative;
    /*执行动画  运行时间 动画名称 线性 无线循环*/
    animation: 2s a1 linear infinite;
}
/*使用伪元素*/
.loading::before, .loading::after {
    content: '';
    width: 200px;
    height: 200px;
    /*标准盒子模型*/
    box-sizing: border-box;
    position: absolute;
    top: -10px;
    left: 0;
    border-radius: 50%;
}
.loading::before {
    border-top: 10px solid #f2e1ac;
    transform: rotate(120deg);

}
.loading::after {
    border-top: 10px solid #111111;
    transform: rotate(240deg);
}
.loading span {
    width: 200px;
    height: 200px;
    position: absolute;
    line-height: 200px;
    text-align: center;
    color: #ffffff;
    animation: 2s a2 linear infinite;
}
@keyframes a1 {
    /*transform允许你缩放 倾斜 或平移元素*/
    to {
        transform: rotate(360deg);
    }
}
@keyframes a2 {
    to {
        transform: rotate(-360deg);
    }
}

