body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #78C3F3, #99D3F5);
    height: 100vh;
}
.loading {
    width: 200px;
    height: 200px;
    /*网格布局*/
    display: grid;
    /*制作3列的网格容器*/
    grid-template-columns: repeat(3, 1fr);
    /*设置行与列之间的间隙*/
    grid-gap: 10px;
    /*对子部分进行编码*/
    counter-reset: number;
    transform: rotate(45deg);
}
.loading span{
    animation: r1 2s linear infinite;
    position: relative;
}
.loading span::before {
    /*在此可以将给每个元素上面设置当前的位置，方便开发调试*/
    /*counter-increment: number;*/
    /*content: counter(number);*/
    /*color: #ffffff;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
}
.loading span:nth-child(7) {
    --c: #5ea;
    background: var(--c);
}
.loading span:nth-child(4),
.loading span:nth-child(8){
    --c: #0e7997;
    background: var(--c);
}
.loading span:nth-child(1),
.loading span:nth-child(5),
.loading span:nth-child(9) {
    --c: #ffdaf0;
    background: var(--c);
}
.loading span:nth-child(2),
.loading span:nth-child(6) {
    --c: #f456fa;
    background: var(--c);
}
.loading span:nth-child(3){
    --c: #f57d;
    background: var(--c);
}
@keyframes r1 {
    0%, 100% {
        transform: scale(0);
    }
    40%, 80% {
        transform: scale(1.1);
    }
}