<template>
    <div :id="dynamicId">测试vue3的模板语法</div>
    <a :href="url">跳转到百度</a>
    <div>{{ state.count }}</div>
    <div @click="increment">增加count</div>
</template>
<script setup>
/**
 * 模板语法
 */
import {ref, reactive, nextTick } from 'vue'
let dynamicId = ref('')
let url = ref('www.baidu.com');
const state = reactive({
    count: 0
})
const increment = () => {
    state.count ++
    nextTick(() => {
        console.log( state.count)
        /** 访问更新后的DOM */
    })
    console.log( state.count )
}
console.log( state.count )
/**
 * 深层响应对象 浅层响应对象
 */
</script>
<style>

</style>