<template>
    <p>{{ author.name }}</p>
    <p>{{ hasBooks }}</p>
</template>
<script setup>

import { reactive, computed } from 'vue';
const author = reactive({
    name: 'li',
    books: [1, 3, 3]
})
const hasBooks = computed(() => {
    return author.books.length > 0 ? 'yes' : 'no'
})
console.log( hasBooks.value )
// 在vue模板中会自动解包
/**
 * vue3中的计算属性
 * 推荐使用计算属性描述依赖响应式的复杂逻辑
 * 避免之际更改计算属性的值，你可以把计算属性看作
 * 浅拷贝 会改变引用类型的值
 * 深拷贝 不会改变引用类型的值 
 */
let obj = {
    a: 1,
    b: 2,
    c: {
        d: 4
    }
}
const deepClone = (obj) => {
    if( obj && typeof obj == 'object') {
        let newObj = Array.isArray(obj) ? [] : {};
        for( let key in obj) {
            if(obj.hasOwnProperty(key)) {
                console.log( key )
                newObj[key] = deepClone(obj[key])
            }
        }
        return newObj
    }
    return obj
}
console.log( deepClone(obj ))
</script>