<template>
    <div>生命周期 {{ a }}</div>
    <button @click="a++" ref="el" id="a">更新数据</button>
</template>

<script setup>
/**
 * vue3的生命周期 让开发者在特定阶段运行自己的代码
 */
import { ref, onMounted, onUpdated, onUnmounted, onBeforeMount, onBeforeUpdate, onBeforeUnmount } from 'vue'
let a = ref( 10 )
let el = ref()
console.log( a )
onBeforeMount(() => {
    /**组件在挂载前 可以访问data 但是不能访问DOM */
    console.log( `组件挂载前${a.value}` )
    console.log( `组件挂载前不能访问DOM元素${el.value}`)

})
onMounted(() => {
    console.log( `组件挂载完成后执行${a}` )
    console.log( el.value )
})
onUpdated(() => {
    /**在组件因为响应式状态变更而更新其DOM树之后调用  组件的任意DOM更新后调用*/
    /** 如果是特定的状态更新后访问DOM元素 需要使用nextTick代替*/
    console.log( document.getElementById('a').textContent )
})
onUnmounted(() => {
    /**组件实例被卸载之后调用 */

})
</script>

<style>

</style> 