<template>
    <div>
        这是父组件传递过来的参数{{ name }}
        <button @click="childToParent">{{rN}}</button>
        <p>{{ info.name }}</p>
        <p>{{ bar }}</p>
        <p ref="box" :style="styleObj"></p>
        <button @click="increment">通过ref测试对属性的深层次响应</button>
        <button @click="increment1">使用pinia</button>
        <div>{{ store.count }}</div>
        
    </div>

</template>
<script setup>
import { defineProps, defineEmits, ref, reactive, toRefs, toRef, onMounted } from 'vue'
import { counterStore } from '@/store'
import { storeToRefs } from 'pinia'
/**
 * 
 * reactive响应的是对象或数组 底层还是转换成proxy进行的响应式
 * toref 复制reactive中的单个属性并转成ref
 * torefs 复制reactive中的多个值并转成ref
 * 
 */
const store = counterStore();
const { count } = storeToRefs( store )
const { increment1 } = store;
console.log( store.double )
console.log( count, increment1   )
store.$patch({
    count: 50
})
increment1();
store.increment4();
console.log( count.value )
defineProps({
    name: { type: String, default: '' }
})
/**
 * 通过defineEmits宏来定义需要抛出的事件
 */
const em = defineEmits(['update'])
const childToParent = () => {
    em('update', '子组件传递给父组件的值')
}
/**
 * 仅使用你声明对象的代理版本
 */
const row = {
    name: '301',
    age: 20
};

let info = reactive(row)
info.name = '400'
console.log( info == row )
let rN = toRef(info, 'name')
console.log( rN )
rN = '50';
/**需要通过defineExpose 将数据暴露出去 这样父组件中才可以获取到 */
defineExpose({
    info
})
console.log( info.name )
/**
 * vue的响应式是通过访问对象属性进行的，因此需要确保对象的访问相同引用 reactive()存在些许的局限性
 * 主要原因就是js没有可以作用于所有值类型的引用机制
 * 
 */
const obj = reactive({
    foo: ref(0),
    bar: ref(20)
})
let t = ref( 50 )
let { foo, bar } = obj
const box = ref(null)
const increment = () => {
    console.log( 'ceshi ')
    bar++
    console.log(box.value)

}
onMounted(() => {
    console.log( box.value )
})
console.log( box.value ) // 先执行 dom还没有完全挂载好
console.log( bar )
let obj2 = {
    a: 1,
    b: 2,
    c: {
        d: 4
    }
}
const deepClone = (obj) => {
    if( obj && typeof obj == 'object') {
        let newObj = Array.isArray(obj) ? [] : {};
        for( let key in obj) {
            if(obj.hasOwnProperty(key)) {
                console.log( key )
                newObj[key] = deepClone(obj[key])
            }
        }
        return newObj
    }
    return obj
}
console.log( deepClone(obj2 ))
/**
 * 表达式的值也可以是对象或数组
 * 直接绑定一个样式对象是一个好主意
 */

const styleObj = reactive( {
    color: 'red',
    fontSize: '13px'
})
</script>
<style>


</style>