<script setup>
/**
 * 最新的使用语法糖编写vue组件 
 * 引入的组件会自动注册
 */
import selfVue from './self.vue';
import { ref, onMounted } from 'vue'
import { createWebHistory } from 'vue-router';
const props = defineProps({
    foo: {type: String, required: true}
})
console.log( props.foo)
const year = ref('2021')
let childData = ref('');
const update = (data) => {
    console.log ( data )
    childData = data;
}
const child = ref('')
onMounted( () => {
    /**获取的是子组件实例  */
    console.log( child.value )
})
/**
 * 数据响应
 * 组件传参
 * 父子组件间通信
 *  defineProps 用来接收父组件传来的props
 */
</script>
<template>
    <selfVue :name="year" @update="update" ref="child"></selfVue>
    <div>{{year}}</div>
    <div>{{ childData }}</div>
</template>
<style scoped>

</style>