<script setup>
/**
 * 响应式的数据状态变更时 执行一些操作 watch 是一个懒执行
 * 不能直接侦听一个响应式对象的属性值  
 *  watchEffect是立即执行  状态不管是否变更  都会执行的
 *  当侦听多个数据来源时 回调函数接收两个数组 分别对应来源数组中的新值和旧值
 */
import { ref, watch, reactive, watchEffect, onMounted, onBeforeMount } from 'vue'
let a = ref( 20 )
let b = reactive({
    count: 0
})
watch( a, (newa) => {
    console.log( `a is ${newa}`)
})
/**
 * 提供一个getter函数
 */
watch(
    () => b.count,
    (count) => {
        console.log( )
    }
)
/**
 * 深层侦听器
 */
watch(b, () => {

})
watchEffect(() => {
    /**
     * 立即运行一个函数 同时响应式其依赖 并在依赖更改时重新执行
     * 默认情况下 侦听器将在组件渲染之前执行 
     * 设置 flush: 'post' 将会使侦听器延迟到组件渲染之后执行
     */
    console.log( `立即执行侦听动作${a.value}`)
}, {
    flush: 'post'
})
onBeforeMount(() => {
    console.log( '渲染之前执行')
})
onMounted( () => {
    console.log( '渲染之后执行')
})
</script>
<template>
    <div>vue3的侦听属性 {{ a }}</div>
    <button @click="b.count++">{{ b.count }}</button>
</template>