<!--
 * @Author: wangyang-tpri
 * @Date: 2021-12-27 09:46:59
 * @LastEditTime: 2021-12-27 10:15:24
 * @email: angularyang@163.com
 * @description: 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">{{ message }}</div>
    <script>
        // mixin提供了一种非常灵活的方式，来分发vue组件中的可复用的功能
        // 我们只需要将共有的功能以对象的方式传入到mixins数组中，当该组件使用mixins时，mixins数组中的所有对象选项都会被混入到该组件本身的选项中来，分为全局混入(一般是用在插件的开发中的)和局部混入
        // mixin本身就是一个js对象，可以包含我们的component，data，created等方法和属性的
        // 可以很好的不同组件中复用相同的代码
        const vm = new Vue({
            el: '#app',
            data: {
                message: '理解mixin'
            },
            // mixins: [myMixin]
        })
    </script>
</body>
</html>