<!--
 * @Author: wangyang-tpri
 * @Date: 2021-12-27 09:45:32
 * @LastEditTime: 2021-12-27 09:46:36
 * @email: angularyang@163.com
 * @description: vue中nextTick的原理
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <!--  nextTick 就是为了满足在修改数据之后 立即获取更新后的DOM-->
    <!-- 如果想要在更新DOM后 立即获取更新后的值 就可以使用nextTick -->
    <!-- 如果实在组件中使用的话 就可以使用this.$nextTick 这时this会自动指定到Vue上 
        源码位置 src/core/util/next-tick.js
    -->
    <div id="app">{{message}}</div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                message: '原始值'
            }

        })
        console.log(vm.$el.textContent)
        console.log(vm)
        vm.message = "修改值1"
        console.log(vm.$el.textContent)
        vm.message = "修改值2"
        console.log(vm.$el.textContent)
        Vue.nextTick(() => {
            console.log(vm.$el.textContent)
        })
    </script>
</body>
</html>