<!--
 * @Author: wangyang-tpri
 * @Date: 2021-12-27 10:37:58
 * @LastEditTime: 2021-12-27 11:07:22
 * @email: angularyang@163.com
 * @description: vue中的插槽
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue@2.5.6.js"></script>
</head>
<body>
    <div id="app">{{ message }}

        <btn-counter>
            <template v-slot:content>
                这是具名插槽
            </template>
        </btn-counter>
    </div>
    <script>
        // slot可以让用户更好的拓展 复用和定制化处理组件
        // 通过slot插槽向组件内部指定位置传递内容，完成这个复用组件在不同场景中的应用
        // 一般分为3类 默认 具名 作用域插槽
            // 默认：子组件中定义插槽的位置  父组件直接调用即可
            // 具名： 就是在子组件定义时 可以给插槽命名，父组件在调用时，使用v-solt指令 来指定使用的插槽名称，如果没有指定的话，就是默认使用默认插槽

        // vue中给元素添加key的作用，就是diff算法优化的一种策略，给每个vNode添加一个唯一id，可以更准确和高效的找到对应的vnode节点  源码位置 core/vdom/patch.js 通过samevNode和updateChildren  这几个函数进行判断的
        var btnCounter = Vue.component('btn-counter', {
            template:'<div> <slot>我是默认内容</slot> <slot name =' + 'content' +'></slot></div>'
        })
        const vm = new Vue({
            el: '#app',
            data: {
                message: '插槽'
            },
            components: {btnCounter}
        })

    </script>
</body>
</html>