div#header {
    margin-left: 50px;
    margin-top: 20px;
}
#fileName {
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    border: 1px solid #78C3F3;
    width: 260px;
    padding: 5px;
}
#changeBtn {
    position: absolute;
    top: 20px;
    right: 300px;
    background-color:#3385FF;
    border-radius: 5px;
    height: 32px;
    line-height: 32px;
    padding: 2px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    color: white;
}
div#container {
    margin: 50px 50px 0 50px ;
    
}
div#result, div#echartsPie, div#echartsLine, div#echartsPlain {
    width: 40%;
    height: 400px;
    margin: 5px 25px 5px 5px;
    float: left;
}
.file {
    position: absolute;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    margin-left: 5px;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

table td{
    border: 1px solid black;
    width: 300px;
    
}
table>tbody tr:nth-child(1) {
    background: #3385FF;
    color: white;
}